* {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  color: white;
  text-indent: 0;
}
body {
  /* The next 2 lines can as well be overflow: hidden */
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(to bottom, #3a1a3f, #1e441d, #3a1a3f);
}

.container {
  text-align: center;
  display: flex;
  width: 789px;
  height: 429px;
  margin-left: 20%;
  margin-top: 6em;
  overflow: hidden;
  border: 2px solid rgb(118, 170, 247);
  justify-content: center;
  background-color: rgb(143, 142, 76);
  background-image: linear-gradient(
    to bottom,
    #097b83b4,
    #19838bbd,
    #19838bd0,
    #097b83d2,
    #097b83da,
    #08626888
  );
}

@media screen {
}

/* use lowercase for class names. #title */
#Title {
  margin-top: 3.9em;
  font-size: 45px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid white;
  background-color: #c3c5b8d2;
  background-image: linear-gradient(-34deg, #135c5aa9, #227b80b9, #bedad123);

  width: 14em;
  height: 18em;
  justify-content: center;
  border-radius: 1.3em;
  margin-top: 4em;
  transform: rotate(-18deg);
  z-index: 2;
}
img {
  padding-left: 0em;
}

#ninteen {
  padding-top: 0.2em;
}

.cover {
  /* By default, a div is a block element so div.cover.style.display=block */
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  border: 1px solid white;
  background-color: #c3c5b8d2;
  background-image: linear-gradient(-34deg, #135c5aa9, #227b80b9, #bedad123);

  width: 14em;
  height: 18em;
  justify-content: center;
  border-radius: 1.3em;
  margin-top: 3em;
  transform: rotate(10deg);
}
